section>
    <%= render "shared/header", current_user: @current %>
    <% @users.each do |user| %>
        <%= render "shared/user_card", user: user %>
    <% end %>
    <h1> This is a new comment </h1>
</section>
