<%= stylesheet_link_tag 'usersIndex' %>
<main class="users-main">
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 1</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 2</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 3</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 4</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 5</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 6</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 7</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 8</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
  <div class="user">
    <div class="user-img-div">
      <img src="https://www.premiumgraduate.com.au/wp-content/uploads/2020/06/good-linkedin-profile-photo-right-expression-1000x1000.jpg" alt="user image" class="user-img">
    </div>
    <div class="user-info">
      <h2 class="user-name">  User 9</h2>
      <p class="number-of-posts">Number of posts: 2</p>
    </div>
  </div>
</main>